html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #00aeef;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}


.left {
    float: left;
}

.right {
    float: right;
}

.main {
    width: 980px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -490px;
}

#content {
    position: absolute;
    
    width:400px;
    margin-left:-200px;
    left:50%;
    
    top: 0px;
    color: #ffffff;
    /*background-size: contain;*/
}


.tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
}





